    @font-face {
        font-family: 'Sonic Extra Bold';
        src: url('text/Sonic Extra Bold.otf') format('opentype');
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #15fd02;
    }

    .container {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        position: absolute;
        text-align: center;
        z-index: 1;
    }

    .centered-image {
        max-width: 90%;
        max-height: 90%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .timer-container {
        font-family: 'Sonic Extra Bold', sans-serif;
        color: #d4b741;
        z-index: 2;
    }

    .timer {
        font-size: 190px;
    }

    .rounds-container {
        display: flex;
        justify-content: center;
        margin-top: -10px;
    }

    .round {
        width: 50px;
        height: 50px;
        background-color: #ccc;
        border-radius: 25%;
        display: inline-block;
        margin-right: 11px;
        font-size: 25px; /* Tamaño del texto constante */
        line-height: 50px; /* Alinear verticalmente el texto */
        text-align: center; /* Alinear horizontalmente el texto */
    }
    
    .round.filled {
        background-color: #d4b741; /* Color de fondo para los rounds rellenos */
        color: #fff; /* Color de texto para los rounds rellenos */
    }


    #round-status {
        margin-top: 10px;
        font-size: 30px;
    }

    .control-panel {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .control-panel button {
        margin: 0 10px;
        font-size: 16px; /* Tamaño fijo para el texto de los botones */

    }

